<!DOCTYPE html>
<html>
<head>
  <title>Taiga's Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <ul>
      <li><a>Taiga's Blog</a></li>
      <li><a href="/blogs">トップページ</a></li>
      <li><a href="/blogs/new">新規投稿</a></li>
    </ul>
  </header>

<%= yield %>

  <footer>
    <p>運営会社DIVE INTO CODE株式会社</p>
    <p>© 2018 Copyright DIVE INTO CODE Corp.</p>
  </footer>

</body>
</html>